@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

/* nav styles */

.nav-bar{
    justify-content: space-between;
    align-items: center;
}

.nav-flex{
    display: flex;  
}
.nav-link{
    text-decoration: none;
    color: #424242;
}
.nav-item{
    list-style: none;
    margin-right: 80px;
    font-weight: 600;
    font-size: 18px;
}

.bg-primary{
    background-color: rgba(255, 144, 14, 0.1);
    height: 1148px;
    
}

.nav-bar, .banner{
    max-width: 1200px;
    margin: 0 auto;
}

.brand-name{
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 0;
}

/* hero area */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.hero-img{
    width: 1200px;
    width: 100%;
}
.banner-title{
    font-weight: bold;
    font-size: 4rem;
}
.primary-btn{
    background-color: #FF900E;
    color: white;
    padding: 16px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}



/* main first section */

.main{
    max-width: 1200px;
    margin: 100px 100px;
}
.team{
    display: flex;
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.our-features{
    margin-left: 75px;
    max-width: 530px;
    
}

.feature-description{
    margin-top: 15px;
    margin-bottom: 35px;
}

#text-mod-1{
    color: #727272;
    font-size: 35px ;
    font-weight: 500;
}
#text-mod-2{
    font-size: 35px;
    font-weight: 800;
}
#text-mod-3{
    font-size: 35px;
    font-weight: 800;
    color: #FF900E;
}


/* some fact related cards */

.section-title-2nd{
    font-size: 3.5rem;

    margin-top: 100px;
}

.facts-container{

    display:grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card{
    width: 240px;
    height: 240px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fact-card{
    border: 1px solid #FF900E;
    border-radius: 10px;
}

.fact-number{
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 15px;
    margin-bottom: 10px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
}

.fact-icon{
    margin-top: 25px;
}

.fact-description{
    font-size: 1rem;
    margin-bottom: 30px;
    color: #727272;
    
}

.display-flex{

    display: flex;


}

.facts-container{
    
    justify-items: center;
    gap: 24px;
  
}

.section-title-2nd{
    text-align: center;
}

.fact-description{
    text-align: center;
}


/* sponsor related styles*/

.sponsor-title{
    font-size: 2.5rem;
    margin-top: 100px;
}

.sponsors-description{
    color: #727272;
}

.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-company img{
    filter: grayscale(100%);
}





/* responsive media query */

@media screen and ( max-width: 576px) {

    .nav-bar, .nav-links, .team{
        flex-direction: column;
    }

    .team-img-container, .facts-container, .sponsor-company{
        grid-template-columns: repeat(1, 1fr);
    }

    .sponsor-company{
        justify-content: center;
        gap: 50px;
    }

    .our-features{
        margin-left: 20px;
    }
    
}

/* medium size devices */

@media screen and ( min-width: 576px) and ( max-width: 992px) {

    .team{
        flex-direction: column;
    }

    

    .sponsor-company, .facts-container{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px;
        justify-items: center;
    }
    
}